@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
}
.searchBtn{
  background: none;
  border : none;
}
.searchBar{
  display: flex;
  gap:3px;
  justify-content: center;
  justify-content: baseline;
  margin : 20px;
}
.mainBox{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.col{
  height: inherit;
  display: flex;
  justify-content: center;
  gap : 50px;
}
