@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(118,111,255);
    background: linear-gradient(90deg, rgba(118,111,255,1) 10%, rgba(136,242,255,1) 90%);
}
#wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
}
.contact{
    background-color: white;
    border-radius: 9px;
    padding: 10px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form{
    display: flex;
    justify-content: flex-start;
}
.message{
    display: flex;
    gap:14px;
}
.submitsec{
    
    display: flex;
    justify-content: flex-start;
}
#submit{
    height: 35px;
    width: 70px;
    border-radius: 9px;
    border-color: rgba(118,111,255,1)  rgba(136,242,255,1)  rgba(136,242,255,1)  rgba(118,111,255,1);
}
#submit:hover{
    background: rgb(118,111,255);
    background: linear-gradient(90deg, rgba(118,111,255,1) 10%, rgba(136,242,255,1) 90%);
    transition: 0.9s ease;
}