@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(118,111,255);
    background: linear-gradient(90deg, rgba(118,111,255,1) 10%, rgba(136,242,255,1) 90%);
}
#contact{
    font-family: Poppins,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30%;
    border-radius: 15px;
}
