@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width:100vw;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
}

#left{
    position: sticky;
    overflow-x: hidden;
    background-color: rgb(14,5,47);
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}
.logo{
    position: relative;
    background-color: rgb(14,5,47);
    overflow-x: hidden ;
}

.logo img{
    position:absolute;
    width:50%;
    height: 50%;
    right:25%;
    object-fit: cover;
    /* border: 1px solid white; */
}

.about{
    line-height: 1.5em;
    background-color: rgb(14,5,47);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.about .first{
    color: rgb(84,240,194);
}
.about .second{
    color: rgb(103,218,254);
}
.space{
    background-color: black;
}
.about h5:hover{
    width: fit-content;
    background-color: rgb(17,62,90);
    
}
.space{
    background-color: rgb(14,5,47);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    

}
.space i{
    color: black;
    
}
.space i:hover{
    
    color: rgb(84,240,194);
}

#right{
    background-color: rgb(14,5,47);
    overflow-x: hidden;
}
#intro,#projects{
    font-family: 'Poppins', sans-serif;
    color:white;
}
#intro p,#projects p{
    font-weight: 200;
}

