*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board{
  height: 200px;
  width: 200px;
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  border: 1px solid black;
}
.bb{
  border:1px solid black;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}
