*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(118,111,255);
    background: linear-gradient(90deg, rgba(118,111,255,1) 10%, rgba(136,242,255,1) 90%);
}
.wrapper{
    background-color: white;
    padding: 50px;
}
table,tr,th,td{
    padding: 10px;
    border:1px solid black;
    border-collapse: collapse;
}

